.content {
  min-height: calc(100vh - 0px - 64px);
  padding: 1.5rem 0s;
  position: relative;
}
nav {
  padding: 0 1rem;
  font-weight: bolder;
}

.list{
  display: grid;
  grid-template-columns:repeat(auto-fill ,minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 70px;
}
.card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(102, 101, 102, 0.39) 1px 1px 12px 5px;
  
}
.card:hover{
  box-shadow:  0px 0px 12px 12px rgba(182, 238, 28, 0.527);
  transition: 1s;
}
.card-content {
  flex-grow: 1;
}
.card img {
  box-shadow: rgba(102, 101, 102, 0.39) 1px 1px 12px 5px;
}
.card h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card p{
  font-family:cursive;
}
.header-nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

}
.loadingNav {
  position: absolute;
  top: 64px;
}
._horizontal{
  display: grid;
  grid-template-columns:45% 45%;
  grid-gap: 1.5rem;
  background-color: khaki;
}
._horizontal img {
  width: 100%;
  margin-top: 50px;
}
.go {
  margin: 20px;
}